*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}



#headerTop{
    background-image: url('https://images.nintendolife.com/f28cd95676907/nintendo-logo.original.jpg');
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 99.1%;
    left: 0;
    top: 0;
    background: rgba(248, 217, 217, 0.79);
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1{
    color:#e4000f;
}

.description p{
    color:#666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
 }

#btnSeeMore{
    border:1px  solid #F97300;
    background:rgb(249, 0, 0);
    color:#fff;
 }


.team .item{
    position: relative;
}

.team .des{
    background: #e4000f;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition:.3s ease-in-out;
}


 .headerPeople {
    background-image: url('https://www.wallpapertip.com/wmimgs/92-920380_nintendo-wallpaper-src-popular-nintendo-wallpapers-background-nintendo.jpg');
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    
 }

 .textRubrik {
    font-family: 'Secular One';
    color:white;
    font-size:3em;
    background-color:#e4000f;   

 }

 
/* Gör att linjen inte blir för lång */
 ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline linjen */
ul.timeline:before {
    content: ' ';
    background: #e4000f;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    
}

/* Gör mellanrum mellan lådorna */
li.timeline-item {
    margin-top:3%;
}


/* Timeline cirklarna*/
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
   
}

/* Bakgrunden bakom timlinen */
body {
    background-image: url('https://i.ytimg.com/vi/hmIuPk_-O_I/maxresdefault.jpg');
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Om musen är över dessa ikoner */
  .fa:hover {
    opacity: 0.7;
  }
  
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }